* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
     height: 100vh;
}

header{
    width: 100%;
    height: 70px;
    background: rgba(8, 2, 2, 0.5);
    position: fixed;
    z-index: 100;
}

.img-logo {
    width: 65px;
    float: left;
    margin-top: -5px;
    position: absolute;
    left: 0;
    top: 8px;
}   

#check {
    display: none;
}

.icon-menu {
    display: none;
}

.text-header {
    color:white;
    float: left;
    /* border: 1px solid white; */
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    position: absolute;
    margin-left: 65px;
}

.menu {
    width: auto;
    float: right;
    margin-top: 20px;
    margin-right: 10%;
    bottom: 20px;
}

.menu ul{
    display: flex;
}

.menu li {
    list-style: none;
}

.menu li a {
    padding: 18px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    color: #b7b7b7;
}

.menu li a:hover {
    color:white;
}

#check:checked ~ .menu {
    height:315px;
}

@media screen and (max-width:600px){
    .texto-portada {
        float:left;
        color: white;
        position: absolute;
        margin-top: 100px;
        margin-left: 40px;
        font-size: 50px;
        font-family: cursive;
    }
    
}

@media screen and (max-width:1010px){
    
    .icon-menu {
        display: block;
        color:white;
        float: right;
        padding:5px;
        font-size: 24x;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        margin-top: 20px;
        margin-right: 16px;
    }

    .icon-menu:hover{
        background: #3f3f3f;
        cursor:pointer;
    }
    
    .menu{
        float:left;
        margin-top: -5px;
        width: 100%;
        background: rgba(8, 2, 2, 0.5);
        overflow: hidden;
        height: 0px;
        transition: all 400ms;
    }
    
    .menu ul {
        flex-direction: column;
    }
    
    .menu li a {
        display: block;
    }
    
    .container1 img{
        height: auto;
        width: auto;
        padding: auto;
    }
    
    .container2 h2 {
        font-size: 25px;
    }
    
    .container2 h4{
        font-size: 18px;
    }
    
    .contacto {
        margin-left: 0;
        
    }
    
}
@media screen and (max-width: 767px){
    .causas-img1 {
        display: none;
    }
}

.container1 {
    padding-top: 80px
}

.container2{
    padding-top: 100px;
    padding-bottom: 40px;
}

.container2 div {
    /* border: 1px solid aqua; */
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -30px;
}

.container2 h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
}

.container2 h4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.container2 p{
    text-align: center;
}

.container2 {
    color:rgb(117, 115, 115);
}

.container3 h3{
    text-align: center;
}

.container3 div img {
    margin-top: 3px;
}

.container3 p{
    float: left;
}

.banner{
    background: url(cambio-climatico-3.jpg);
    width: 100%;
    float: left;
    height: 200px;
    background-repeat: no-repeat; /*No se repetira*/
    background-size: cover; /*Imagen al 100% del ancho*/
    background-attachment: fixed; /*Posicion fija para la imagen*/
    position: absolute;
}

.banner h3,a {
    text-align: center;
    padding-top: 60px;
}

.text-titulo{
    text-align:center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px;
}

.extracontainer{
    float:left;
}

video#herovideo {
    width: 100%;
    float: left;
}

.section-video p {
    float:left;
    color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 50px;
    font-family: cursive;
}

.button-portada {
    float: left;
    position: absolute;
}

.carousel {
    margin:auto;
}

.causas h3{
    text-align: center;
    font-family: serif;
    text-decoration-line: underline;
    margin-top:0;
    margin-bottom: 20px;
}

.causas-img1{
    width: 200px;
    margin-top: 50px;
    margin-left: 20px;
}

.item-form {
    text-align: center;
    margin-top: 20px;
}

.myButton {
    margin-top: 25px;
    
    
}
.section-btn{
    display: flex;
    justify-content: center;
}

.inicio-sesion {
    margin-top: 150px;
    
}

.inicio-sesion p {
    text-align: center;
}

col-social {
    float: left;
    justify-content: center;
}

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.social {
    width: 45px;
    margin-top: 3px;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #32cd32;
}

.footer-social-icons ul li a {
    color: #272727;
    font-size: 25px;
}

address{
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 20px;
    color: aliceblue;
}

.reloj {
    float: left;
    margin-top: 19px;
    display: block;
    font-family: inherit;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 275px;
}

@media screen and (max-width: 1160px){
    .myReloj {
        display: none;
    }
}

.container2 h2 {
    font-size: 45px;
    font-family: inherit;
}

.container2 p {
    font-size: 17px;
    font-family: inherit;
}

.container2 h4 {
    font-size: 22px;
    font-family: inherit;
}

.causas h3 {
    font-family: inherit;
}

.text-titulo2{ 
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
    font-family: inherit;
    margin-bottom: 30px;
}

.causas p {
    font-size: 17px;
    font-family: inherit;
}

.causas h3 {
    font-size: 32px;
}

.text-titulo {
    font-size: 45px;
    font-family: inherit
}

.container3 p {
    font-size: 17px;
    font-family: inherit;
}

.contacto p {
    font-size: 17px;
    font-family: inherit;
}

.contacto h2 {
    font-size: 40px;
    text-align: center;
}

