{% extends "core/base.html" %}

{% load static %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="">
                <p class="item-form"><b>Formulario 1</b></p>
                <input type="" class="item-form" placeholder="Ingrese">
                <p class="item-form"><b>Formulario 2</b></p>
                <input type="" class="item-form" placeholder="Ingrese">
                <p class="item-form"><b>Formulario 3</b></p>
                <input type="" class="item-form" placeholder="Ingrese">
                <p class="item-form"><b>Formulario 4</b></p>
                <input type="" class="item-form" placeholder="Ingrese">
                <section>
                    <button type="submit" class="btn btn-primary btnEnviarDatos"></button>
                </section>

            </form>
        </div>
    </div>
</div>

{% endblock contenido %}