@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "loginIn" })
            </li>
            <li ><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Cerrar sesión</a></li>
        </ul>
        <style>

        

            .loginIn {
                color: white;
                margin-right: 20px;
            }

            .loginIn:hover{
                color: white;
            }
        </style>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right:20px;">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    <style>

        #registerLink {
            color: white;
        }

        #loginLink {
            color: white;
        }

        .loginIn {
            color: white;
        }
    </style>
}

